<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <body>
        <header th:replace="~{fragments/layout.html :: header}"></header>
        <article class="p-5">
            <div class="py-2 alert alert-success" th:text="${success}" th:if="${success}"></div>
            <div class="py-2 alert alert-error" th:text="${error}" th:if="${error}"></div>
            <header>
                <h1>Výpis pojištěného:</h1>
            </header>
            <section>
                <ul class="py-3 list-group">
                    <li class="list-group-item">
                        <h2 th:text="${insured.name} + ' ' + ${insured.surName}"></h2>
                        <div class="row">
                            <span class="col-2" th:text="${insured.streetAndNumber}"></span>
                            <span class="col-8" th:text="${insured.email}"></span>
                        </div>
                        <div class="row">
                            <span class="col-2" th:text="${insured.city}"></span>
                            <span class="col-8" th:text="${insured.phone}"></span>
                        </div>
                        <span th:text="${insured.zipCode}"></span>
                    </li>
                </ul>
                <h1>Vyberte si druh a variantu pojištění:</h1>
                <div class="accordion" th:each="oneString, state : ${allUniqueInsuranceStrings}" id="accordionMenu">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" th:text="${oneString}" data-bs-toggle="collapse" th:data-bs-target="'#collapseNo' + ${state.index}" aria-expanded="false" th:aria-controls="'collapseNo' + ${state.index}"></button>
                        </h2>
                        <ul th:id="'collapseNo' + ${state.index}" class="accordion-collapse collapse pt-3" data-bs-parent="#accordionMenu">
                            <li class="accordion-body p-0" th:each="oneDTO : ${allInsuranceDTO}" th:if="${oneDTO.typeOfInsurance} == ${oneString}" th:text="${oneDTO.variantInsurance}">
                           </li>
                        </ul>
                    </div>
                </div>
                <button type="button"><a th:href="@{'/insureds/addInsurance/' + '1'}">Přidat pojištění</a></button>
                <button type="button"><a th:href="@{/insureds/}">Zpět</a></button>

            </section>
        </article>
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>