<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <body>
        <header th:replace="~{fragments/layout.html :: header}"></header>
        <article class="p-5">
            <div class="py-2 alert alert-success" th:text="${success}" th:if="${success}"></div>
            <div class="py-2 alert alert-error" th:text="${error}" th:if="${error}"></div>
            <header>
                <h1>Výpis pojištěného:</h1>
            </header>
            <section>
                <ul th:replace="~{fragments/layout.html :: detailInsured}"></ul>
                <h2>Zvolte si cenu odpovídající hodnotě plnění, kterou pro toto pojištění potřebujete:</h2>
                <ul class="py-3 list-group">
                    <li class="list-group-item">
                        <h3 th:text="${insurance.typeOfInsurance}"></h3>
                        <h3 th:text="${insurance.variantInsurance}"></h3>
                        <div class="d-flex">
                                <h4 class="col-4" th:text="'Cena pojištění od: ' + ${#numbers.formatInteger(insurance.priceFrom, 3, 'WHITESPACE')} + ',-'"></h4>
                                <h4 class="col-4" th:text="'do: ' + ${#numbers.formatInteger(insurance.priceTo, 3, 'WHITESPACE')} + ',-'"></h4>
                        </div>
                        <div class="d-flex">
                            <h4 class="col-4" th:text="'Hodnota plnění od: ' + ${#numbers.formatInteger(insurance.amountFrom, 5, 'WHITESPACE')} + ',-'"></h4>
                            <h4 class="col-4" th:text="'do: ' + ${#numbers.formatInteger(insurance.amountTo, 5, 'WHITESPACE')} + ',-'"></h4>
                        </div>
                    </li>
                </ul>
                <form class="py-3 row" th:if="${viewPriceEntry}" method="post" th:action="@{/insureds/addInsurance/{insuranceId}/{insuredId}(insuranceId=${insurance.insuranceId}, insuredId=${insured.insuredId})}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RadioButton1" th:name="radioButton" value="price" checked>
                        <label class="form-check-label" for="RadioButton1">Cena pojištění</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RadioButton2" th:name="radioButton" value="amount">
                        <label class="form-check-label" for="RadioButton2">Hodnota krytí</label>
                    </div>
                    <div class="col-2">
                        <label for="PriceOrAmount" class="control-label">Cena nebo krytí</label>
                        <input type="number" id="PriceOrAmount"  class="form-control" th:name="priceOrAmount"/>
                        <div class="py-2 alert alert-danger" th:text="${error}" th:if="${error}"></div>
                    </div>
                    
                    <button class="col-2" type="submit">Přepočítat</button>
                </form>
                <div class="py-3 d-flex" th:if="${showSummary}" method="post" th:action="@{/insureds/addInsurance/{insuranceId}/{insuredId}(insuranceId=${insurance.insuranceId}, insuredId=${insured.insuredId})}">
                    <h4>Zadali jste&nbsp;</h4>
                    <h4 th:if="${radioButton == 'price'}">cenu pojištění:&nbsp;</h4>
                    <h4 th:if="${radioButton == 'amount'}">hodnotu krytí:&nbsp;</h4>
                    <h4 th:text="${#numbers.formatInteger(enteredValue, 3, 'WHITESPACE')} + ',-'"></h4>

                </div>

            </section>
        </article>
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>