<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <body>
        <header th:replace="~{fragments/layout.html :: header}"></header>
        <article class="container-fluid">
            <div class="py-2 alert alert-success" th:text="${success}" th:if="${success}"></div>
            <div class="py-2 alert alert-error" th:text="${error}" th:if="${error}"></div>
            <header>
                <h1>Výpis pojištěného:</h1>
            </header>
            <section>
                
                <ul class="list-group">
                    <li class="list-group-item">
                        <h2 th:text="${insured.name} + ' ' + ${insured.surName}"></h2>
                        <div class="row">
                            <span class="col-2" th:text="${insured.streetAndNumber}"></span>
                            <span class="col-8" th:text="${insured.email}"></span>
                        </div>
                        <div class="row">
                            <span class="col-2" th:text="${insured.city}"></span>
                            <span class="col-8" th:text="${insured.phone}"></span>
                        </div>
                        <span th:text="${insured.zipCode}"></span>
                    </li>
                </ul> 
                
            </section>
        <button type="button"><a th:href="@{/insureds/create}">Vytvořit</a></button>
        </article>
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>