<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <body>
        <header th:replace="~{fragments/layout.html :: header}"></header>
        <article class="container-fluid">
            <div class="py-2 alert alert-success" th:text="${success}" th:if="${success}"></div>
            <div class="py-2 alert alert-danger" th:text="${error}" th:if="${error}"></div>
            <header>
                <h1>Správa Pojištěných:</h1>
            </header>
            <section>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action" th:each = "insured: ${insureds}"> <!-- insured každá jedna DTO: ${kolekce předaná přes model - její název v úvozovkách} -->
                        <div class="row">
                            <span class="col-2"><a th:href="@{'/insureds/' + ${insured.insuredId}}" th:text="${insured.surName} + ' ' + ${insured.name}"></a></span>
                            <span class="col-8" th:text="${insured.streetAndNumber} + ', ' + ${insured.city}"></span>
                            <button class="col-1" type="button"><a th:href="@{/insureds/edit/} + ${insured.insuredId}">Editovat</a></button>
                            <button class="col-1" type="button"><a th:href="@{'/insureds/delete/' + ${insured.insuredId}}">Smazat</a></button>
                        </div>
                    </li>
                </ul>
            </section>
        <button type="button"><a th:href="@{/insureds/create}">Vytvořit</a></button>
        </article>
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>