<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <body>
        <header th:replace="~{fragments/layout.html :: header}"></header>
        <article>
            <header>
                <h1>O této webové aplikaci:</h1>
            </header>
            <section>
                <p>Vítejte na mém prvním webu vytvořeném pomocí několika technologií okolo Spring Boot.</p>
            </section>
        </article>
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>