<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <meta name="description" content="Závěrečná práce itnetwork ve Spring boot. Správa pojištěných."/>
        <meta name="keywords" content="pojištění, správa pojištěných, spring, závěrečná práce, itnetwork"/>
        <meta name="author" content="Lorenc Patrik"/>
        <title>Spring - pojištění</title>
        <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/styles/styl.css}" type="text/css"/>
        <script th:src="@{/scripts/bootstrap.min.js}"></script>
        <link rel="shortcut icon" th:href="@{/images/spring-boot.svg}"/>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a th:href="@{/}" class="navbar-brand">
                    <img class="d-inline-block align-top" th:src="@{/images/SpringBoot.png}" width="75" height="75" alt="logo Spring Boot" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-items">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu-items">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link">O aplikaci</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/aboutMe}" class="nav-link">O mě</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/insureds/}" class="nav-link">Pojištění</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div th:fragment="createAndEditForm">
            <div class="col-6">
                <label for="name" class="control-label">Jméno</label>
                <input id="name" th:field="*{name}" class="form-control"/>
                <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>
            <div class="col-6">
                <label for="surName" class="control-label">Příjmení</label>
                <input id="surName" th:field="*{surName}" class="form-control"/>
                <small class="text-danger" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}"></small>
            </div>
<!--                            <div class="col-6">
                <label for="dateOfBrith" class="control-label">Datum Narození</label>
                <textarea id="dateOfBrith" class="form-control" th:field="*{dateOfBrith}"></textarea>
                <small class="text-danger" th:if="${#fields.hasErrors('dateOfBrith')}" th:errors="*{dateOfBrith}"></small>
            </div>
-->
            <div class="col-6">
                <label for="email" class="control-label">E-mail</label>
                <textarea id="email" class="form-control" th:field="*{email}"></textarea>
                <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>
            <div class="col-6">
                <label for="phone" class="control-label">Telefonní číslo</label>
                <textarea id="phone" class="form-control" th:field="*{phone}"></textarea>
                <small class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
            </div>
            <div class="col-6">
                <label for="streetAndNumber" class="control-label">Ulice a číslo popisné</label>
                <textarea id="streetAndNumber" class="form-control" th:field="*{streetAndNumber}"></textarea>
                <small class="text-danger" th:if="${#fields.hasErrors('streetAndNumber')}" th:errors="*{streetAndNumber}"></small>
            </div>
            <div class="col-6">
                <label for="city" class="control-label">Město</label>
                <textarea id="city" class="form-control" th:field="*{city}"></textarea>
                <small class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></small>
            </div>
            <div class="col-6">
                <label for="zipCode" class="control-label">PSČ</label>
                <textarea id="zipCode" class="form-control" th:field="*{zipCode}"></textarea>
                <small class="text-danger" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></small>
            </div>
            <div class="mt-4">
                <button type="submit" class="clanky-tlacitko">Uložit</button>
            </div>
        </div>

        <footer th:fragment="footer" class="fixed-bottom">
            Vytvořil &copy;Lorenc Patrik 2023
        </footer>
    </body>
</html>