<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <meta name="description" content="Závěrečná práce itnetwork ve Spring boot. Správa pojištěných."/>
        <meta name="keywords" content="pojištění, správa pojištěných, spring, závěrečná práce, itnetwork"/>
        <meta name="author" content="Lorenc Patrik"/>
        <title>Spring - pojištění</title>
        <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/styles/styl.css}" type="text/css"/>
        <script th:src="@{/scripts/bootstrap.min.js}"></script>
        <link rel="shortcut icon" th:href="@{/images/spring-boot.svg}"/>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="px-5 navbar navbar-expand-md navbar-light bg-light">
                <a th:href="@{/}" class="navbar-brand">
                    <img class="d-inline-block align-top" th:src="@{/images/SpringBoot.png}" width="75" height="75" alt="logo Spring Boot" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-items">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu-items">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link">O aplikaci</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/aboutMe}" class="nav-link">O mě</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/insureds/}" class="nav-link">Pojištěnci</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/insurance/}" class="nav-link">Pojištění</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div th:fragment="createAndEditFormInsured">
            <div class="col-6">
                <label for="name" class="control-label">Jméno</label>
                <input type="text" id="name" th:field="*{name}" class="form-control"/>
                <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>
            <div class="col-6">
                <label for="surName" class="control-label">Příjmení</label>
                <input type="text" id="surName" th:field="*{surName}" class="form-control"/>
                <small class="text-danger" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}"></small>
            </div>
<!--                            <div class="col-6">
                <label for="dateOfBrith" class="control-label">Datum Narození</label>
                <textarea id="dateOfBrith" class="form-control" th:field="*{dateOfBrith}"></textarea>
                <small class="text-danger" th:if="${#fields.hasErrors('dateOfBrith')}" th:errors="*{dateOfBrith}"></small>
            </div>
-->
            <div class="col-6">
                <label for="email" class="control-label">E-mail</label>
                <input type="email" id="email" class="form-control" th:field="*{email}"></input>
                <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>
            <div class="col-6">
                <label for="phone" class="control-label">Telefonní číslo</label>
                <input type="text" id="phone" class="form-control" th:field="*{phone}"></input>
                <small class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
            </div>
            <div class="col-6">
                <label for="streetAndNumber" class="control-label">Ulice a číslo popisné</label>
                <input type="text" id="streetAndNumber" class="form-control" th:field="*{streetAndNumber}"></input>
                <small class="text-danger" th:if="${#fields.hasErrors('streetAndNumber')}" th:errors="*{streetAndNumber}"></small>
            </div>
            <div class="col-6">
                <label for="city" class="control-label">Město</label>
                <input type="text" id="city" class="form-control" th:field="*{city}"></input>
                <small class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></small>
            </div>
            <div class="col-6">
                <label for="zipCode" class="control-label">PSČ</label>
                <input type="text" id="zipCode" class="form-control" th:field="*{zipCode}"></input>
                <small class="text-danger" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></small>
            </div>
            <div class="mt-4">
                <button type="submit">Uložit</button>
                <button type="button"><a th:href="@{/insureds/}">Zpět</a></button>
            </div>
        </div>

        <div th:fragment="createAndEditFormInsurance">
            <div class="row">
                <div class="col">                    
                    <label for="typeOfInsurance" class="control-label">Druh pojištění</label>
                    <input type="text" id="typeOfInsurance" th:field="*{typeOfInsurance}" class="form-control"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('typeOfInsurance')}" th:errors="*{typeOfInsurance}"></small>
                </div>
                <div class="col">
                    <label for="variantInsurance" class="control-label">Kategorie pojištění</label>
                    <input type="text" id="variantInsurance" th:field="*{variantInsurance}" class="form-control"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('variantInsurance')}" th:errors="*{variantInsurance}"></small>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="priceFrom" class="control-label">Pojištění platba od</label>
                    <input type="number" id="priceFrom" class="form-control" th:field="*{priceFrom}"></input>
                    <small class="text-danger" th:if="${#fields.hasErrors('priceFrom')}" th:errors="*{priceFrom}"></small>
                </div>
                <div class="col-6">
                    <label for="priceTo" class="control-label">Pojištění platba do</label>
                    <input type="number" id="priceTo" class="form-control" th:field="*{priceTo}"></input>
                    <small class="text-danger" th:if="${#fields.hasErrors('priceTo')}" th:errors="*{priceTo}"></small>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="amountFrom" class="control-label">Pojištění částka plnění od</label>
                    <input type="number" id="amountFrom" class="form-control" th:field="*{amountFrom}"></input>
                    <small class="text-danger" th:if="${#fields.hasErrors('amountFrom')}" th:errors="*{amountFrom}"></small>
                </div>
                <div class="col-6">
                    <label for="amountTo" class="control-label">Pojištění částka plnění do</label>
                    <input type="number" id="amountTo" class="form-control" th:field="*{amountTo}"></input>
                    <small class="text-danger" th:if="${#fields.hasErrors('amountTo')}" th:errors="*{amountTo}"></small>
                </div>
            </div>
            <div class="mt-4">
                <button type="submit">Uložit</button>
                <button type="button"><a th:href="@{/insurance/}">Zpět</a></button>
            </div>
        </div>

<!--        <div class="row">
            <div class="col-6">
                <label for="dateFrom" class="control-label">Datum zahájení pojištění</label>
                <input type="date" id="dateFrom" class="form-control" th:field="*{dateFrom}"></input>
                <small class="text-danger" th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}"></small>
            </div>
            <div class="col-6">
                <label for="dateTo" class="control-label">Datum zahájení pojištění</label>
                <input type="date" id="dateTo" class="form-control" th:field="*{dateTo}"></input>
                <small class="text-danger" th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}"></small>
            </div>
        </div>
-->
        <footer th:fragment="footer" class="fixed-bottom">
            Vytvořil &copy;  Lorenc Patrik 2023
        </footer>
    </body>
</html>