<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <body>
        <header th:replace="~{fragments/layout.html :: header}"></header>
            <article class="px-5 py-2">
                <header>
                <h1>Nový druh pojištění</h1>
                </header>
                <section>
                    <form class="py-3 row" method="post" th:action="@{/insurance/create}" th:object="${insuranceDTO}">
                        <div th:replace="~{fragments/layout.html :: createAndEditFormInsurance}"></div>
                    </form>
                </section>
            </article>       
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>