<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <body>
        <header th:replace="~{fragments/layout.html :: header}"></header>
        <article class="p-5">
            <div class="py-2 alert alert-success" th:text="${success}" th:if="${success}"></div>
            <div class="py-2 alert alert-error" th:text="${error}" th:if="${error}"></div>
            <header>
                <h1>Výpis pojištění:</h1>
            </header>
            <section>
                <ul class="py-3 list-group">
                    <li class="list-group-item">
                        <h2 class="py-3" th:text="${oneInsurance.typeOfInsurance} + ', ' + ${oneInsurance.variantInsurance}"></h2>
                        <p th:text="'Nabízená hodnota plnění: ' + ${oneInsurance.amountFrom} + ' - ' + ${oneInsurance.amountTo}"></p>
                        <p th:text="'Cena pojištění: ' + ${oneInsurance.priceFrom} + ' - ' + ${oneInsurance.priceTo}"></p>
                    </li>
                </ul>
                <button type="button"><a th:href="@{/insurance/}">Zpět</a></button> 
            </section>
        </article>
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>