<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <body>
        <header th:replace="~{fragments/layout.html :: header}"></header>
        <article class="px-5 py-2 container-fluid">
            <div class="py-2 alert alert-success" th:text="${success}" th:if="${success}"></div>
            <div class="py-2 alert alert-danger" th:text="${error}" th:if="${error}"></div>
            <header>
                <h1>Správa variant pojištění:</h1>
            </header>
            <section>
                <ul class="py-3 list-group">
                    <li class="list-group-item list-group-item-action" th:each="allInsurance: ${allInsurance}"> <!-- insured každá jedna DTO: ${kolekce předaná přes model - její název v úvozovkách} -->
                        <div class="row">
                            <span class="col-2"><a th:href="@{'/insurance/' + ${allInsurance.insuranceId}}" th:text="${allInsurance.typeOfInsurance} + ', ' + ${allInsurance.variantInsurance}"></a></span>
                            <span class="col-8" th:text="'nabízené plnění: ' + ${#numbers.formatInteger(allInsurance.amountFrom, 3, 'WHITESPACE')} + ' - ' + ${#numbers.formatInteger(allInsurance.amountTo, 5, 'WHITESPACE')}"></span>
                            <button class="col-1" type="button"><a th:href="@{/insurance/edit/} + ${allInsurance.insuranceId}">Editovat</a></button>
                            <button class="col-1" type="button"><a th:href="@{'/insurance/delete/' + ${allInsurance.insuranceId}}">Smazat</a></button>
                        </div>
                    </li>
                </ul>
            </section>
        <button type="button"><a th:href="@{/insurance/create}">Vytvořit</a></button>
        </article>
        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>